/* Sunset Orange Theme: a warm and vibrant color palette. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Define sunset orange colors */
:root {
  --tf-orange1: #FF6F00; /* Sunset orange */
  --tf-orange2: #FF8F00; /* Brighter sunset orange */
  --tf-orange3: #FFA000; /* Light orange */
  --tf-orange4: #FFE0B2; /* Very light orange */
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-orange1);
  --tf-pill-bg: var(--tf-orange3);
  --tf-icon-fill: var(--tf-orange1);
  --tf-page-bg-color: #FFF3E0; /* Very light orange */
  --tf-footer-bg-color: var(--tf-orange4);
  --tf-projects-bg-color: var(--tf-orange4);
}

h1,h2,h3,h4,h5 {
  color: var(--tf-orange1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-orange1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
}

a {
  text-decoration: none;
}

/* Add border color to images with rounded-circle class */
.rounded-circle {
  border-color: var(--tf-orange1);
  border-style: solid;
  border-width: 1px;
}
